#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.tools{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.code-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.code-container> div {
  width: 50%;
}

.code-container>.editor>textarea {
  width: 100%;
  height: 100%;
}

.code-container>.editor{
  margin-right: 0.5rem;
}

.code-container>.preview{
  margin-left: 0.5rem;
}

.preview > pre[class*="language-"]{
  margin: 0;
  border-radius: 0;
}